name: Build wheels

on: [push, pull_request]

jobs:
  build_wheels:
    name: py${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # cibuildwheel builds linux wheels inside a manylinux container
        # it also takes care of procuring the correct python version for us
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [36, 37, 38, 39, 310]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: "3.9"
      - name: Install cibuildwheel
        run: |
          python -m pip install "cibuildwheel==2.1.3"
      - name: Build wheels
        env:
          CIBW_BUILD: "cp${{ matrix.python-version }}-*"
          CIBW_SKIP: "*-manylinux_i686 *-win32"
          CIBW_ARCHS_MACOS: "x86_64 arm64"
          CIBW_BUILD_VERBOSITY: 1
          CIBW_BEFORE_TEST: pip install pytest
          CIBW_TEST_COMMAND: pytest {package}
        run: |
          python -m cibuildwheel --output-dir wheelhouse .
      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: ./wheelhouse/*.whl
  build_wheels_aarch64:
    name: py${{ matrix.python-version }} on ${{ matrix.os }} (aarch64)
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # cibuildwheel builds linux wheels inside a manylinux container
        # it also takes care of procuring the correct python version for us
        os: [ubuntu-latest]
        python-version: [36, 37, 38, 39, 310]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: "3.9"
      - name: Setup up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: arm64
      - name: Install cibuildwheel
        run: |
          python -m pip install "cibuildwheel==2.1.3"
      - name: Build wheels
        env:
          CIBW_BUILD: "cp${{ matrix.python-version }}-*"
          CIBW_ARCHS: aarch64
          CIBW_BUILD_VERBOSITY: 1
          CIBW_BEFORE_TEST: pip install pytest
          CIBW_TEST_COMMAND: pytest {package}
        run: |
          python -m cibuildwheel --output-dir wheelhouse .
      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: ./wheelhouse/*.whl
  build_sdist_python_wheel:
    name: sdist and python wheel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: "3.9"
      - name: Run check-manifest
        run: |
          pip install check-manifest
          check-manifest -v
      - name: Build sdist and wheel
        run: |
          pip install --upgrade setuptools pip wheel
          python setup.py sdist
      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: |
            dist/*.tar.gz
